In [13]:
import pandas as pd

df4 = pd.read_excel(r'/Users/smani/Downloads/Book1_sn.xlsx')
xls = pd.ExcelFile(r'/Users/smani/Downloads/Skills_desc_total_local.xlsx')
df1 = pd.read_excel(xls, 'Manual_Batch')
df2 = pd.read_excel(xls, 'skills_tk_batch')
df3 = pd.read_excel(xls, 'skillsv5_en_full_novecs')

In [20]:
df4

,id,category,display_name
0,KS00JX7N0NNYOGJKAL9I,Language,Kashmiri
1,KS01CEMFI8VW30MHZWZ6,IT Skill,Db2400
2,KS01DEB4LPFRK5GHUFHR,Professional Skill,Industry Developments
3,KS01PLPFCNVAW2HEQKEI,Professional Skill,Lift Servicing and Installation
4,KS02DLFSYG5QZER3BM82,Professional Skill,Incoterm Use
...,...,...,...
10938,KSZXS4KAZ0P1M8KP5SZE,IT Skill,Apache Storm
10939,KSZY4FFHBCGCUAMPK8VU,IT Skill,Data Generation
10940,KSZY4TXOC5UXT9N49PF3,Language,Icelandic
10941,KSZYCV24ZQ940ZDUGU4B,IT Skill,Google Pay
10942,KSZZTNGKTELLOCXIUHZX,IT Skill,Oracledb

In [18]:
desc_dict1 = dict(zip(df1.Skill_Id, df2.Description))
desc_dict2 = dict(zip(df2.Did, df3.Description))
desc_dict3 = dict(zip(df3.skill_Id, df3.Description))

In [21]:
desc_list = df4["id"].tolist()
desc_list=list( dict.fromkeys(desc_list) )